html {
    height: 100%;
    width: 100%;
  }


* {
  margin: 0;
  padding: 0;
  
}

a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
}

li {
  list-style: none;
  justify-self: end;
  margin-right: 30px;
}

.nav-color {
  background: #819171;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  margin-top: 20px;
}

.heylol {
  width: 100%;
  height: 700px;
  background-color: #819171;
  display: flex;
  justify-content: start;
  align-items: baseline;
  margin-bottom: 11px;
} 

.heylol img {
  margin: 10px;
  position: relative;
}

.words1 {
  background: white;
  height: auto;
  width: 150px;
  position: absolute;
  left: 210px;
  top: 505px;
  padding: 10px;
  color: #819171;
  font-weight: 900;
}

.words2 {
  color: white;
  position: absolute;
  top: 790px;
  font-weight: 900;
  font-size: large;
  margin: 10px;
  
}

.marquee {
  display: flex;
  overflow: hidden;
  gap: 1rem;
  position: relative;
  user-select: none;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 1rem;
}
.marquee-content img {
  width: 300px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
.scroll {
  animation: scroll 20s linear infinite;
}

.ai {
  color: #819171;
  font-weight: 900;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 3px solid #819171; 
  border-radius: 10px;
}

.heart {
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.heart img {
  box-shadow: -10px 10px black;
  margin-left: 20px;
  margin-bottom: 20px;
}

.words3 {
  color: #819171;
  font-weight: 900;
  font-size: larger;
  width: 170px;
  height: auto;
  margin-left: 10px;
}

.foot {
  display: flex;
  justify-content: center;
  background: #819171;
  color: white;
  font-weight: 900;
  padding: 10px;
  margin-top: 10px;
}

iframe {
  margin-top: 20px;
  margin-bottom: 30px;
}

.favs {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favs img {
  width: 300px;
  border: 5px solid #819171;
  
}